<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Booking Detail">
  <ion-content class="padding">
      <div class="list card">

          <label class="item ">
              <span >Guest Name:</span>
              <span>{{bookingDetail.firstname}} {{bookingDetail.lastname}}</span>
          </label>
          <label class="item ">
              <span >Email Add.:</span>
              <span>{{bookingDetail.email}}</span>
          </label>
          <label class="item">
              <span>Checkin Date:</span>
              <span>{{bookingDetail.check_in|date:'EEE. dd of MMM yyyy'}}</span>
          </label>
          <label class="item">
              <span>Confirmed:</span>
              <span>{{bookingDetail.confirmed? ' Yes':' No'}}</span>
          </label>
          <label class="item">
              <span>Duration(Nights):</span>
              <span>{{bookingDetail.nights}}</span>
          </label>
          <label class="item">
              <span>Booked on:</span>
              <span>{{bookingDetail.created|date:'EEE. dd of MMM yyyy'}}</span>
          </label>
          <label class="item">
              <span>Status:</span>
              <span>{{bookingDetail.status}}</span>
          </label>
          <label class="item">
              <span>Payment Mode:</span>
              <span>{{removeUnderScore(bookingDetail.payment)}}</span>
          </label>
          <label class="item">
              <span>Total Charged:</span>
              <span>{{bookingDetail.total}}</span>
          </label>
          <label class="item">
              <span >Tel.<i class="icon ion-ios7-telephone"></i></span>
              <span>{{bookingDetail.phone_number? bookingDetail.phone_number:'None Provided'}}</span>
          </label>

      </div>
  </ion-content>
</ion-view>
