<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{details.roomType}}">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Room Type</span>
                <input type="text" ng-value="roomDetails.name"  disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">Available Date</span>
                <input type="text" ng-value="details.available_date|date:'EEE. dd of MMM yyyy'"  disabled>
            </label>
            <label class="item item-input">
                <span class="input-label"># Empty Rooms</span>
                <input type="number" ng-model="details.total_available"placeholder="0">
            </label>
            <label class="item item-input">
                <span class="input-label"># Sold Rooms</span>
                <input type="number" ng-model="details.total_sold" placeholder="0" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">Checkin Day Price</span>
                <input type="number" ng-model="details.checkin_day_price" placeholder="0" class="pull-right">
            </label>
            <label class="item item-input">
                <span class="input-label">Rem. Day Price</span>
                <input type="text" ng-model="details.remaining_day_price" class="pull-right">
            </label>
            <label class="item">
                <span>Room Amenities:</span><br>
                <span ng-if="roomDetails.comp_breakfast" class="amenities">Breakfast,</span><span ng-if="roomDetails.room_service" class="amenities">Room Service,</span><span ng-if="roomDetails.tv" class="amenities">TV,</span><span ng-if="roomDetails.mini_fridge"class="amenities">Fridge.</span>


            </label>
            <button class="button button-block button-balanced" ng-click="saveInventory()">
                Save!
            </button>
                <button class="button button-block button-royal" ng-click="closeInventory()">
                    Close Out
                </button>
        </div>
    </ion-content>
</ion-view>
