<ion-view view-title="{{roomDetails.date|date:'EEE. dd of MMM yyyy'}}">
    <ion-content class="padding">
                   <div class="list">
                       <div class="row">
                           <button class="button button-full button-balanced" ng-click="saveAllRooms()">
                               Save All
                           </button>
                       </div>
                       <div class="item" ng-repeat="item in roomDetails.hotels | orderBy:'-available_date'" style="text-align: center;" >
                           <h2>{{item.name}}</h2>
                           <h2>(Original Price:N{{item.original_price}})</h2>
                           <div class="row">
                               <div class="col  item_text-wrap" style="color: orange;text-align: center;">
                                   <p>Check-in Day</p>
                                   <p>(N{{item.checkin_day_price}})</p>
                                       <span class="row" style="border:1px solid orange;width: 60%;margin-left:20%; "><span class="col col-50"><input type="text"  ng-model="item.originalPercentageOff" ng-change="originalDayChange($index)"></span><span class="col col-25">%</span></span>
                               </div>
                               <div class="col  item_text-wrap" style="color: orange;text-align: center">
                                   <p>Remaining Day<p>
                                   <p>(N{{item.remaining_day_price}})</p>

                                    <span class="row" style="width: 60%;margin-left: 20%; text-align: center;border:1px solid orange"><span class="col col-50"><input type="text" ng-model="item.remainingPercentageOff" ng-change="remainingDayChange($index)" style="border:0px solid black"/></span><span class="col col-25">%</span></span>


                               </div>
                           </div>
                       </div>
                   </div>
    </ion-content>
</ion-view>