<ion-view>
    <ion-content class="padding">
        <div class="row" style="text-align: center">
            <div class="col col-50 col-offset-25" style="text-align: center">
                <img src="img/mrhotel_dark.png" class="img-responsive" style="width:100%;"/>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col" style="text-align: center">
                Hotel Extranet Application
            </div>
        </div>
            <div class="card padding">
                <div class="item item-body">
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="loginCred.email" placeholder="abc@123.com">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="loginCred.password">
                    </label>
                    <button class="button button-block button-balanced" ng-click="login()">
                        Login
                    </button>
                </div>
            </div>
    </ion-content>
</ion-view>