<ion-view view-title="Bookings">
  <ion-content>
      <div class="list">
              <a class="item item-thumbnail-right" ng-repeat="room in hotelRooms" href="#/tab/roomBooking/{{room.id}}">
                  <img src="{{getImageLink(room.image)}}">
                  <h2>{{room.name}}</h2>
                  <p>Base Price:{{room.original_price}} per night.</p>
              </a>
      </div>
  </ion-content>
</ion-view>
