<ion-view view-title="Hotel Profile">
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="enterEditMode()" ng-disabled="editMode">
            <i class="ion-edit"></i>Edit
        </button>
    </ion-nav-buttons>
  <ion-content>
      <div class="list" ng-if="!editMode">
          <label class="item item-input item-stacked-label">
              <span>Hotel Name:</span>
              <span>{{profile.name}}</span>
          </label>
          <label class="item  item-stacked-label">
              <span class="input-label">Address:</span> <br>
              <span>{{profile.address}}</span>
          </label>
          <label class="item item-input item-stacked-label">
              <span>City:</span>
              <span>{{profile.town}}</span>
          </label>

          <label class="item item-input item-stacked-label">
              <span>Phone:</span>
              <span>{{profile.phone_number}}</span>
          </label>
          <label class="item item-input item-stacked-label">
              <span>Manager's Name:</span>
              <span>{{profile.mrhotel_manager_name}}</span>
          </label>
          <label class="item item-input item-stacked-label">
              <span>Email:</span>
              <span>{{profile.mrhotel_manager_email}}</span>
          </label>
          <label class="item item-input item-stacked-label">
              <span>Geo Location:</span> <br>
              <span class="col-md-5 pull-left" style="font-size: 13px">Lat:{{profile.lat}}</span><span class="col-md-5 pull-right" style="font-size: 13px;padding-left: 10px;">Lon:{{profile.lon}}</span>
          </label>
      </div>
      <div class="list" ng-if="editMode">
          <label class="item item-input item-stacked-label">
              <span class="input-label">Hotel Name Edit</span>
              <input type="text" ng-model="profileEdit.name">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Address</span>
              <input type="text" ng-model="profileEdit.address">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">City</span>
              <input type="text" ng-model="profileEdit.town" >
          </label>

          <label class="item item-input item-stacked-label">
              <span class="input-label">Phone</span>
              <input type="text" ng-model="profileEdit.phone_number" >
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Manager's Name</span>
              <input type="text" ng-model="profileEdit.mrhotel_manager_name" >
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" ng-model="profileEdit.mrhotel_manager_email" >
          </label>
          <button class="button button-block button-balanced" ng-click="saveProfile()">
              Save Profile
          </button>
          <button class="button button-block button-assertive" ng-click="cancelEdit()">
              Cancel
          </button>
      </div>
  </ion-content>
</ion-view>
