<ion-view view-title="Audit Logs">
  <ion-content>
      <div class="list">
          <a class="item item-button-right" ng-repeat="item in logs">
              <p>User:&nbsp{{item.firstname}}&nbsp{{item.lastname}}</p>
              <p>Time:{{item.ts|date:"EEE. dd of MMM yyyy @ h:mma"}}</p>
              <button class="button button-positive" ng-click="openLogInfoModal(item)">
              <i class="icon ion-information-circled"></i>
               </button>
          </a>

      </div>
  </ion-content>
</ion-view>
