
<ion-view view-title="Hotel Inventory" left-buttons="leftButtons">
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>
  <ion-content>
      <ion-refresher on-refresh="doRefresh()"
                     pulling-text="Pull to refresh...">

      </ion-refresher>
      <ion-list>
          <ion-item ng-repeat="item in inventoryByDate|orderBy:'date'" class="item item-remove-animate  item-icon-right" ng-click="setCurrentDate(item)" ng-hide="lowerThanToday(item.date)">
              <h2><span ng-show="!isDateToday(item.date)">{{item.date|date:'EEE. dd of MMM yyyy'}}</span><span ng-show="isDateToday(item.date)">{{isDateToday(item.date)}}</span> </h2>
              <p><span style="color: green">{{item.unSold}} Rooms Sold</span></p>
              <p><span style="color: orange">{{item.unSold}} Rooms Remaining</span></p>
              <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>


