<ion-view view-title="Room Booking">
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="item in roomBookings | orderBy:'-check_in'" class="item-remove-animate item-icon-right"  type="item-text-wrap" ng-click="gotoBookingDetails(item)">
                <h2>Checkin Date:&nbsp{{item.check_in|date:'EEE. dd of MMM yyyy'}}</h2>
                <p>Booked By:&nbsp{{item.firstname}} {{item.lastname}}</p>
                <p>{{item.total_available}} Total Rooms Available</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>