<div class="modal">
    <ion-modal-view>
        <header class="bar bar-header">
            <h1 class="title">Filter Hotel Inventory</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">
            <div class="padding">
            <div class="card padding">
                <div class="item item-body">
                    <label class="item item-input">
                        <span class="input-label">Start Date</span>
                        <input type="date" ng-model="roomFilter.startDate">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">End Date</span>
                        <input type="date" ng-model="roomFilter.endDate">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Room Type</span>
                        <select ng-options="o as o for o in hotelRoomTypes" ng-model="roomFilter.roomType"/>
                    </label>
                    <button class="button button-block button-balanced" ng-click="saveInventory()">
                        Filter
                    </button>
                </div>
            </div>
            </div>
        </content>
    </ion-modal-view>
</div>