<div class="modal">
    <ion-modal-view>
        <header class="bar bar-header">
            <h1 class="title">Log Information</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">
            <div class="padding">
                <div class="card padding">
                    <div class="item item-body">
                      <span style="color: red;">{{currentItem.log}}</span>
                    </div>
                </div>
            </div>
        </content>
    </ion-modal-view>
</div>